@use "../base/variables" as *;

.left {
  grid-area: left;
}

#leftmenu {
  padding: 0;
  margin: 0;

  a {
    display: block;
    color: $color-text;

    span {
      display: flex;
      height: $menu-item-height + 5px;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }
  }

  li {
    background-color: $color-background;
    margin-bottom: 8px;

    &:hover {
      background-color: $color-background-hover;

      a {
        color: currentColor;
      }
    }

    &.on {
      background: $color-light;

      a {
        color: $color-fff;
      }
    }
  }

  li.split {
    display: none;
  }


}
