@use "../base/variables" as *;

form {
  margin: 0.5em 0;

  p {
    padding: 0.5em 0;
    line-height: 1.5em;

    span.title {
      font-weight: bold;
    }

    span.star {
      display: inline-block;
      color: red;
    }
  }

  &.search {
    box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.3);
    padding: 5px 1em;
    margin-bottom: 1em;
    border-radius: 0.3em;

    input[type=text],
    input.button,
    select {
      height: 33px;
    }

    select {
      min-width: 150px;
    }

    input[type=text] {
      width: 200px;
    }

    p>*:not(:last-child) {
      margin-right: .7em;
    }
  }
}

// 基础输入框样式
%input-base {
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 1em;

  &:focus-visible {
    border: 1px solid $color-primary;
    outline: none;
  }
}

.input-90,
.select-90,
.textarea-90 {
  width: 90%;
  max-width: 600px;
}

// 输入框
input {
  @extend %input-base;

  // 单选框样式重置
  &[type="radio"] {
    border: none;
    background: none;
    height: auto;
    padding: 0;
  }

  // 按钮样式
  &.button,
  &[type="submit"],
  &[type="button"] {
    color: $color-fff;
    font-size: 1.05em;
    height: 29px;
    padding: 2px 18px 3px;
    // margin: 0 0.5em 0 0;
    background: $color-primary;
    border: 1px solid $color-light;
    cursor: pointer;

    &:hover {
      background: $color-light;
    }

    // 禁用状态
    &[disabled],
    &[disabled]:hover {
      background: #eee;
      border: 1px solid #ccc;
      cursor: not-allowed;
      color: black;
    }
  }

  // 只读状态
  &[readonly],
  &[readonly]:hover {
    background: #eee;
    border: 1px solid #ccc;
    cursor: not-allowed;
    color: #808080;
  }
}

// 下拉框
select {
  @extend %input-base;
}

// 文本域
textarea {
  @extend %input-base;
  height: auto;
}

/* checkbox */
.imgcheck {
  background: none !important;
  display: inline-block !important;
  position: relative;
  width: 40px;
  height: 16px;
  max-height: 1em;
  cursor: pointer;
  -webkit-touch-callout: none;
  margin-right: 0;
  margin-bottom: 0;
  padding-left: 40px;
  line-height: 16px;
  margin-right: 10px;
  padding-left: 30px;
}

.imgcheck:before {
  position: absolute;
  display: inline-block;
  left: 0;
  content: "";
  border-style: solid;
  width: 40px;
  height: 22px;
  border-width: 0;
  border-color: transparent;
  background: #d8d8d8;
  border-radius: 20px;
  transition: all 0.3s;
  margin-top: -2px;
}

.imgcheck:after {
  color: $color-fff;
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  line-height: 20px;
  top: 1px;
  left: 1px;
  text-align: center;
  background: $color-fff;
  box-shadow: 0 2px 5px 0 rgba(51, 51, 51, 0.25);
  border-radius: 10px;
  transition: left 0.3s, right 0.3s;
  margin-top: -2px;
}

.imgcheck-on:before {
  background: $color-primary;
  transition: all 0.3s;
}

.imgcheck-on:after {
  left: 19px;
  transition: left 0.3s, right 0.3s;
  background: $color-fff;
}

.imgcheck-disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
