@use "../base/variables" as *;

// 基础表格样式
table {
  border-collapse: collapse;
  box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.3);

  // 基础单元格样式
  td,
  th {
    padding: 0.5em;
    border-right: 1px solid $color-border;
    text-align: left;

    &:last-child {
      border-right: none;
    }

    &.td-center,
    &.th-center,
    &.tdCenter,
    &.center {
      text-align: center;
    }
  }
}

table {
  &.tableFull {
    width: 100%;
  }

  &.tableBorder {
    line-height: 1.8em;
    margin: 0.4em 0 0.8em;
  }

  &.thCenter {
    th {
      text-align: center;
    }
  }

  &.table_hover {
    tr:hover {

      >td,
      >th {
        background-color: #ffffdd;
      }
    }
  }

  &.table_striped {
    >tbody>tr:nth-of-type(odd) {
      background-color: #f4f4f4;
    }
  }

  th,
  td {
    &>[class^="icon-"] {
      padding-right: .3em;
    }
  }
}

// 表格背景色
tr {
  &.color1 {
    background: #ededed;
  }

  &.color2 {
    background: #f4f4f4;
  }

  &.color3 {
    background: $color-fff;
  }

  &.color4 {
    background: #ffffdd;
  }
}

@for $i from 1 through 7 {
  .td#{$i * 5} {
    width: #{$i * 5}#{'%'};
  }
}
