@w:1280px;
@fz:16px;
@c:#0188fb;
@subc:#333;
@greyc:#888;
@borderc:#ebeef5;



.wrap { width:@w; margin:0 auto; .clear();
	&per { height:100vh; position:relative; overflow:hidden; display:block; }
}
@-webkit-keyframes shine { 100% { left:125%; } }
@keyframes shine { 100% { left:125%; } }


.copyright { padding:8px 16px; text-align:center; border-top:1px solid @borderc; position:relative;
	p { font-size:12px; color:#86909c; }
}


.main { padding-left:181px; flex:1; transition:all .2s ease;
	&.on { padding-left:73px; }
}
.head { height:@head-height; padding-right:40px; border-bottom:1px solid @borderc; box-sizing:border-box; background:#fff; position:relative; z-index:99; display:flex; align-items:center; justify-content:end; }



.backhome { height:28px; padding:0 12px; font-size:14px; color:#333; line-height:28px; border:1px solid #eee; border-radius:4px; display:inline-block;
	&::before { content:"\ee21"; margin-right:6px; font-size:16px; color:#333; font-family:zblog; .zoom; }
	&:hover { color:#000; border-color:#ddd; .shadow;
		&::before { color:#000; }
	}
}
.theme { width:28px; height:28px; margin:0 10px; text-align:center; line-height:28px; border:1px solid #eee; border-radius:4px; display:inline-block;
	&.light::before { content:"\ef6f"; font-size:18px; color:#333; font-family:zblog; .zoom; }
	&.dark::before { content:"\f1bf"; font-size:18px; color:#333; font-family:zblog; .zoom; }
	&:hover { color:#000; border-color:#ddd; .shadow; }
}
.user { margin-left:20px; position:relative;
	&link { cursor:pointer; display:flex;
		&::after { content:"\ea4e"; margin-left:10px; font-size:18px; color:#333; font-family:zblog; display:flex; align-items:center; }
		&.on::after { content:"\ea78"; }
	}
	&img { width:32px; height:32px; margin-right:10px; border-radius:50%;
		img { width:32px; height:32px; border-radius:50%; object-fit:cover; }
	}
	&name { line-height:1;
		strong { margin-top:2px; font-size:14px; color:#333; display:block; }
		em { font-size:12px; color:#999; font-style:normal; }
	}
	&menu { width:100%; padding:8px 0; border:1px solid @borderc; border-radius:10px; background:#fff; position:absolute; top:40px; left:0; z-index:1; display:none;
		&.on { display:block; }
		li { line-height:36px;
			a { padding:0 0 0 14px; font-size:14px; color:#333; display:flex; align-items:center;
				&::before { content:""; width:16px; height:16px; margin-right:4px; font-size:16px; color:#333; font-family:zblog; line-height:16px; }
				&:hover { background:@borderc; }
				&.ico- {
					&set::before { content:"\f0e4"; }
					&user::before { content:"\ea09"; }
					&logout::before { content:"\f126"; }
				}
			}
		}
	}
}

@keyframes fadeIn { from { opacity: 0; transform: translateY(10px); } to { opacity: 1; transform: translateY(0); } }


// #edit { display:flex; gap:20px; }
// #divEditLeft { flex:1; }
// #divEditRight { width:300px; flex-shrink:0; }
// .editmod2 { margin-bottom:20px;
// 	label { font-size:16px; color:@subc; font-weight:bold; line-height:40px; }
// 	input[type=text] { width:100%; height:42px; padding:0 14px; line-height:42px; border:1px solid @borderc; border-radius:4px; box-sizing:border-box; }
// }




/*吐司提示*/
.toast { position:fixed; top:50%; left:50%; z-index:10000; transform:translate(-50%,-50%); }
.toast.top { top:10px; transform:translate(-50%,0); }
.toast.bottom { top:auto; bottom:10px; transform:translate(-50%,0); }
.toasttext { padding:10px 20px; font-size:14px; color:#fff; text-align:center; line-height:22px; border-radius:2px; background:rgba(0,0,0,.6); -webkit-animation-name:layer-bounceIn; animation-name:layer-bounceIn; -webkit-animation-fill-mode:both; animation-fill-mode:both;-webkit-animation-duration:.2s; animation-duration:.2s; -webkit-animation-fill-mode:both; animation-fill-mode:both;-webkit-animation-duration:.3s; animation-duration:.3s; }
.toastclose { -webkit-animation-name:layer-bounceOut; animation-name:layer-bounceOut; -webkit-animation-fill-mode:both; animation-fill-mode:both;-webkit-animation-duration:.2s; animation-duration:.2s; }
@-webkit-keyframes layer-bounceIn{
	0%{opacity:0;-webkit-transform:scale(.5);transform:scale(.5)}
	100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}
}
@keyframes layer-bounceIn{
	0%{opacity:0;-webkit-transform:scale(.5);-ms-transform:scale(.5);transform:scale(.5)}
	100%{opacity:1;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
}
@-webkit-keyframes layer-bounceOut{
	100%{opacity:0;-webkit-transform:scale(.7);transform:scale(.7)}
	30%{-webkit-transform:scale(1.05);transform:scale(1.05)}
	0%{-webkit-transform:scale(1);transform:scale(1)}
}
@keyframes layer-bounceOut{
	100%{opacity:0;-webkit-transform:scale(.7);-ms-transform:scale(.7);transform:scale(.7)}
	30%{-webkit-transform:scale(1.05);-ms-transform:scale(1.05);transform:scale(1.05)}
	0%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
}

.hint {
	p { margin:-24px -36px 12px; padding:8px 34px; font-size:15px; color:@subc; line-height:18px; background:#e0eaf6;
		&::before { content:"\eca1"; width:20px; height:20px; margin-right:6px; font-size:19px; color:@subc; font-family:zblog; line-height:19px; .zoom; }
	}
	.hint_good { background:#e8fff0; color:green;
		&::before { content:"\eb81"; color:green; }
	}
	.hint_bad { background:#fee2e2; color:#991b1b;
		&::before { content:"\eb97"; color:#991b1b; }
	}
}

.night {
	.wrapper { background-color:#1e1e1e; }
	.side { border-color:#2a2a2a; background-color:#161616;
		&close {
			&::before { color:#fff; }
		}
	}
	.logo { border-color:#2a2a2a;
		a {
			img {
				&.logolight { display:none; }
				&.logodark { display:inline-block; }
			}
		}
	}
	.menu {
		.scrollbar-dark();
		li {
			a { color:#d6d6d6;
				.ico {
					&::before { color:#d6d6d6; }
				}
				&:hover { background-color:#242424; }
			}
			&.on {
				a { color:#fff; background-color:@c; }
				.ico {
					&::before { color:#fff; }
				}
			}
		}
		&ico {
			span { background-color:#fff; }
		}
		&tip { color:#fff; border-color:#424242; background-color:#242424;
			&::before { border-right-color:#424242; }
			&::after { border-right-color:#242424; }
		}
	}
	.head { border-color:#2a2a2a; background-color:#161616; }
	.backhome, .theme { color:#ccc; border-color:#434343; background:#242424;
		&::before { color:#ccc; }
	}
	.user {
		&name {
			strong { color:#fff; }
		}
		&link {
			&::after { color:#fff; }
		}
		&menu { border-color:#434343; background:#242424;
			li {
				a { color:#fff;
					&::before { color:#fff; }
					&:hover { background-color:#333; }
				}
			}
		}
	}
	.content {
		.scrollbar-dark();
	}
	.title {
		h2 { color:#fff;
			span { background:linear-gradient(0deg, #036 0%, transparent 20%); }
			ul span { background:none; }
			a { color:#fff; border-color:@c; background-color:@c;
				&::before { color:#fff; }
			}
		}
		p { color:#ccc; }
	}
	.listcard {
		li { border-color:#434343; background-color:#242424; }
		&.one, &.two {
			dl { border-color:#434343; background-color:#242424;
				dt { color:#fff; }
			}
		}
		&.two {
			dt {
				a.refresh { border-color:@c; color:#fff; background-color:@c;
					&::before { color:#fff; }
				}
			}
			ul {
				li {
					a { color:#fff; border-color:#333;
						&:hover { color:@c; }
					}
					span { background-color:#242424; }
				}
				&.configinfo {
					li {
						span { color:#fff;
							&.on { color:@c; }
						}
					}
				}
			}
			p {
				a { color:#fff;
					&:hover { color:@c; }
				}
			}
		}
		&.four {
			li {
				p { color:#fff;
					&.mom { color:#999; }
				}
				.icon { background-image:url(images/icobg-dark.svg); }
			}
		}
		td { color:#ccc; border-color:#434343;
			&.thank- {
				&label { color:#86909c; background-color:#2a2a2a; }
				&link {
					a { color:#fff;
						&:hover { color:@c; }
					}
				}
			}
		}
	}

	.postlist { border-color:#434343; background-color:#161616; }
	.sub { color:#fff; border-color:#434343; background:#242424;
		input { color:#ccc; border-color:#434343; background-color:#202020;
			&[type=submit] { color:#fff; border-color:@c; background-color:@c; }
		}
		label { color:#ccc; }
		a {
			&.filter { background-color:#242424; }
		}
	}

	.tr { color:#ccc; border-color:#434343;
		&.thead { background-color:#242424; }
		&:not(.thead):hover { background-color:#1e1e1e; }
		a { color:#ccc;
			&:hover { color:@c; }
		}
	}
	.td {
		&-status {
			span { color:#a0fba0; background-color:#13321d;
				&.draft { color:orange; background-color:#3b3600 }
				&.review { color:#ff6a6a; background:#3f0000; }
			}
		}
		&-action {
			.edit, .del {
				&::before { color:#ccc; }
				&:hover {
					&::before { color:@c; }
				}
			}
		}
	}

	.pagebar { border-color:#434343; background-color:#242424;
		span, a { color:#999; }
		.now-page { color:#fff; }
		a {
			&:hover { background:#434343; }
		}
	}

	.nice-select { color:#ccc; border-color:#3a3a3a; background-color:#202020;
		&:focus, &.open { color:#ccc; }
		.list { color:#ccc; box-shadow:0 0 0 1px #434343; background-color:#3a3a3a;
      .scrollbar-dark(transparent, #666, rgba(255,255,255,.3), rgba(255,255,255,.4), @scrollbar-thumb-img-dark);
		}
		.option {
			&.selected { color:#fff; }
			&:hover, &.focus, &.selected.focus { background-color:fade(@c,30%); }
		}
		.list { box-shadow:0 0 0 1px @c; }
	}
	.toasttext { background:rgba(60,60,60,.8); }
	.hint {
		p { color:#8fdaff; background:#002c52;
			&::before { color:#8fdaff; }
		}
		.hint_good { color:#a0fba0; background:#13321d;
			&::before { color:#a0fba0; }
		}
		.hint_bad { color:#ff6a6a; background:#3f0000;
			&::before { color:#ff6a6a; }
		}
	}
}
@media screen and (max-width: 860px) {
	.side { position:fixed; top:0; left:-100%; z-index:999;
		&.on { width:180px; left:0;
			.logo {
				a { padding-left:16px; justify-content:normal; box-sizing:border-box;
					img {
						&:not(:first-child) { display:block; }
						&.logodark { display:none; }
					}
				}
			}
			.menu {
				&title { margin:20px 0 8px; font-size:12px;
					&:first-child { margin-top:8px; }
				}
				li {
					a { padding:12px 10px 12px 20px; font-size:16px; text-align:left;
						.ico { margin-right:14px; }
					}
				}
			}
		}
		&close { display:block; }
	}
	.fademask.on { display:block; }
	.menu {
		.scrollbar-hidden();
		&ico { cursor:default; left:10px; }
		&tip { .hide; }
	}
	.head { padding-right:14px; }
	.backhome { width:28px; padding:0; font-size:0; text-align:center;
		&::before { margin:0; font-size:18px; }
	}
	.user { margin-left:10px;
		&link { cursor:default; }
	}
	.main { padding-left:0;
		&.on { padding-left:0; }
	}
	.content { height:calc(~"100vh - 89px"); padding:14px; scrollbar-width:none; -ms-overflow-style:none;
		.scrollbar-hidden();
	}
	.title {
		h2 { font-size:26px;
			a { margin-top:4px; }
		}
		p { font-size:14px; }
	}
	.night {
		.side {
			&.on {
				.logo {
					a {
						img {
							&.logolight { display:none; }
							&.logodark { display:inline-block; }
						}
					}
				}
			}
		}
		.listcard {
			table { border-color:#424242; }
		}
	}
}
@media screen and (max-width: 480px) {
	.night {
		.listcard {
			&.two {
				p { border-color:#333; }
				ul {
					&.configinfo {
						li { border-color:#333; }
					}
				}
			}
		}
		.post {
			&list { background:#242424; }
		}
		.tr {
			&:nth-child(odd) { background:#1e1e1e; }
		}
		.td {
			&-action { border-color:#434343; }
		}
	}
}
