/* 使用 Grid 布局：主内容 + 侧栏 */
form#edit {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 270px;
  padding-right: 5px;

  .editmod {
    margin: 1em 0;

    label {
      max-width: 65px;
      text-overflow: ellipsis;
    }

    .editinputname {
      vertical-align: middle;
      padding: 0 2px 0 3px;
      line-height: 1em;
      font-size: 1.05em;
      font-weight: bold;
    }
  }

  #edtTitle,
  #edtAlias,
  #edtTag {
    max-width: 520px;
    width: 99% !important;
  }
}

#divEditLeft {
  /* 主栏内元素占据第一列 (默认) */

  #carea {
    margin: 5px 0px 0px;

    &,
    #editor_content {
      width: 100%;
      height: 320px;
    }
  }
}

#divEditRight {
  /* 侧栏在第二列 */
  justify-self: end;
  text-align: right;

  .editmod select,
  #btnPost {
    width: 180px;
    height: 38px;
  }
  .editmod#istop select {
    width: 80px;
  }

}
