@use "../base/variables" as *;

.module-layout {
  display: flex;
  margin: 1.3em 0;
  gap: 20px;
  padding-right: 20px;

  // 左侧模块列表
  .widget-left {
    flex: 1;
  }

  // 右侧侧栏列表
  .widget-right {
    flex: 0 0 270px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

%header-style {
  padding: 8px 0;
  font-weight: bold;
  border-bottom: 1px solid $color-border;
  text-align: center;
  background: $color-background;
  user-select: none;
}


// 模块列表容器
.widget-list {
  border: 1px solid $color-border;

  &-group {
    margin-bottom: 20px;
  }

  &-header {
    @extend %header-style;
  }

  &-note {
    padding: 5px 0;
    color: $color-text-light;
    font-style: italic;
    text-align: center;
  }

  &-content {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;

    .widget {
      width: calc(100% / 5 - 8px);
    }
  }

  &-header+&-content {
    margin-top: 5px;
  }

}

// 模块项
.widget {
  border: 1px solid $color-border;
  cursor: move;

  &.ui-draggable-dragging {
    max-width: 240px;
    opacity: 0.7;
  }

  img {
    margin: 3px;
    margin-bottom: -3px;
  }

  // 模块标题
  &-title {
    margin: 0;
    padding: 8px 6px;
    color: $color-text;
    cursor: move;

    span {
      display: inline-block;
    }

    i {
      margin: 0 5px;
      color: #64a7da;
    }

    a:hover i {
      color: #067dd8;
    }
  }

  // 模块操作
  &-action {
    float: right;
  }

  // 不同来源模块的标题背景色
  &_source {
    &_system .widget-title {
      background: #e3e4e4;
    }

    &_user .widget-title {
      background: #c6d4e5;
    }

    &_theme .widget-title {
      background: #d7e3bc;
    }

    &_themeinclude .widget-title {
      background: #e3bebc;
    }

    &_plugin .widget-title {
      background: #d4cddd;
    }

    &_other .widget-title {
      background: #ded9c0;
    }

  }

  .widget-title:hover {
    background: $color-background-hover !important;
  }



  &_ishidden_true img.more-action {
    opacity: 0.4;
  }
}

// 侧栏列表
.siderbar {
  &-list {
    width: 100%;
    background: $color-fff;
    border: 1px solid $color-border;
  }

  &-drop {
    background: #fefefe;
  }

  &-header {
    @extend %header-style;
    cursor: pointer;

    &:hover {
      background: $color-background-hover;
    }

    .roll {
      display: none;
    }

    .ui-icon {
      margin-left: auto;
    }
  }

  &-sort-list {
    padding: 8px 4px 10px;
    min-height: 30px;

    .widget {
      margin-top: 10px;
    }
  }

  &-note {
    color: $color-text-light;
    font-style: italic;
    text-align: center;
  }
}
