.wrap { width:@w; margin:0 auto; .clear();
  &per { height:100vh; position:relative; overflow:hidden; display:block; }
}

.main { padding-left:181px; flex:1; transition:all .2s ease;
  &.on { padding-left:73px; }
}
