@use "variables" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: $content-min-width;
  font-family: $font-family;
  color: $color-text;
  font-size: $font-size-base;
}

a {
  text-decoration: none;
  color: $color-link;

  &:hover {
    color: $color-hover;
  }
}

img {
  border: none;
}

li {
  list-style-type: none;
}
