@use "variables" as *;

:root {
    --color-blod:#1d4c7d;
    --color-normal:#3a6ea5;
    --color-light:#b0cdee;
    --color-high:#4b90d9;
    --color-anti:#d60000;
    --color-bg-normal:#efefef;
    --color-bg-light:#f4f4f4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: $content-min-width;
  font-family: $font-family;
  color: $color-text;
  font-size: $font-size-base;
}

a {
  text-decoration: none;
  color: $color-link;

  &:hover {
    color: $color-hover;
  }
}

img {
  border: none;
}

li {
  list-style-type: none;
}
