// 颜色
$color-primary: #3a6ea5;
$color-light: #3399cc;

$color-backgroud-hover: #b0cdee;
$color-backgroud: #ededed;
// #e0e1e2
$color-border: #efefef;
$color-hover: #d60000;
$color-link: #1d4c7d;
$color-text-light: #666666;
$color-text: #333333;

// 字体
$font-family: "Microsoft YaHei", STHeiti, "Hiragino Sans GB", "WenQuanYi Micro Hei", "Heiti SC", NSimSun, SimSun, Arial, Helvetica, sans-serif;
$font-size-base: 14px;

// 布局
$header-height: 85px;
$logo-width: 200px;
$sidebar-width: 140px;
$content-min-width: 980px;
$menu-item-height: 30px;
$gap-right: 13px;
