<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>AdminColor_2026</id>
<name>传统后台配色器_2026</name>
<url>//jq.qq.com/?_wv=1027&amp;k=555hND5</url>
<note>给 Z-BlogPHP 传统后台换配色的小工具</note>
<description>置百丈玄冰而崩裂，掷须臾池水而漂摇。</description>
<path>main.php</path>
<include>include.php</include>
<template>tpl/</template>
<level>1</level>
<author>
  <name>沉冰浮水</name>
  <email>wdssmq@qq.com</email>
  <url>https://www.wdssmq.com</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>184000</adapted>
<version>1.0</version>
<pubdate>2026-01-02</pubdate>
<modified>2026-01-02</modified>
<price>0</price>
<phpver>7.3</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
  <sidebar6></sidebar6>
  <sidebar7></sidebar7>
  <sidebar8></sidebar8>
  <sidebar9></sidebar9>
</sidebars>
</plugin>
